[project]
[access "refs/heads/*"]
	owner = group Administrators
	create = group samsung_msm8930
	push = +force group samsung_msm8930
	label-Code-Review = -2..+2 group samsung_msm8930
	label-Verified = -1..+1 group samsung_msm8930
	submit = group samsung_msm8930
[submit]
	action = rebase if necessary
